header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #484848;
}

.logo {
    display: flex;
    position: fixed;
    align-items: left;
    justify-content: center;
    padding-left: 20px;
}
